.App {
}
body {
  background-color: #02044d;
  color: white;
  background-image: url("./nasa-logo.png");

  background-position: center top;
  background-repeat: repeat;
  background-size: 40rem;
  background-blend-mode: over;
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.myHeader {
  padding: 1rem;
  margin: 1rem;
  border: 10px;
  border-radius: 1rem;
  border: solid rgb(82, 82, 82);
  text-align: center;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.mainArea {
  display: flex;
  margin: 1rem;
  text-align: center;
  margin-top: 5rem;
}

.myLeftSide {
  padding: 1rem;
  border: 10px;
  border-radius: 1rem;
  border: solid rgb(82, 82, 82);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myRightSide {
  padding: 1rem;
  margin: 1rem;
  border: 10px;
  border-radius: 1rem;
  border: solid rgb(82, 82, 82);
  margin-left: 13rem;
}
.imgSettings {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.footerButton {
  margin-right: 1rem;
  text-align: center;
}
.myFooter {
  padding: 1rem;
  margin: 1rem;
  border: 10px;
  border-radius: 1rem;
  border: solid rgb(82, 82, 82);
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
